#admin {
    & .container {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    & #admin_header {
        border-radius: 15px;
        padding: 15px;
        background: var(--bg-hover);

        & nav {
            display: flex;
            gap: 12px;
            align-items: end;
            overflow-x: scroll;
            margin-inline: -15px;
            padding-inline: 15px;
        }

        & a {
            min-width: max-content;
            &:not(.underlined), &:not(.underlined):hover, &:not(.underlined):active {
                font-size: var(--subheading-size);
                color: var(--fg-hover);
            }
        }
    }

    & #requests_header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 12px;
        border-radius: 15px;
        padding: 8px;
        background: var(--bg-hover);
        position: sticky;
        z-index: 2;
        top: 116px;
        box-shadow: 1px 1px 5px 5px var(--bg);

        & > button {
            border-radius: 7px;
            padding: 8px 16px;
        }

        & select.skeleton {
            min-width: 150px;
            border: 2px solid transparent !important;
        }
    }

    & #users_header,
    & #servers_header,
    & #hostings_header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 12px;
        border-radius: 15px;
        padding: 8px;
        background: var(--bg-hover);
        position: sticky;
        z-index: 2;
        top: 116px;
        box-shadow: 1px 1px 5px 5px var(--bg);

        & > button {
            border-radius: 7px;
            padding: 8px 16px;
        }
    }

    & .pagination {
        display: flex;
        gap: 6px;
        align-items: stretch;

        & .pagination_count {
            border-radius: 7px;
            min-width: max-content;
            align-content: center;
            padding-inline: 6px;
        }

        & .pagination_container {
            display: flex;
            overflow-x: scroll;
            overflow-y: hidden;
            border-radius: 7px;
            gap: 6px;
        }

        & button {
            background-color: transparent;
            padding: 8px 14px;
            min-width: max-content;

            &:hover { background-color: var(--tooltip); }

            &.chosen { background: var(--tooltip-hover); }
        }
    }

    & #users,
    & #servers,
    & #hostings {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 12px;

        & .user,
        & .server,
        & .hosting {
            display: flex;
            flex-direction: column;
            gap: 12px;
            align-items: start;
            padding: 15px;
            border-radius: 15px;
            background-color: var(--bg-hover);

            & .user_block,
            & .server_block,
            & .hosting_block {
                display: flex;
                flex-direction: column;
                gap: 3px;
                align-items: start;

                & h3.skeleton { min-width: 240px; }
                & p.skeleton { min-width: 180px; }

                &.name_block {
                    & p {
                        font-size: var(--tooltip);
                        color: var(--fg-active);
                    }
                }

                &.action_block {
                    align-items: stretch;
                    width: calc(100% + 16px);
                    margin: 0 -8px -8px -8px;
                    gap: 7px;
                    margin-top: auto;
                }
            }
        }

        & .new_cpu_container {
            width: 100%;
        }
    }

    & #requests {
        display: flex;
        flex-direction: column;
        gap: 12px;

        & .request {
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 12px;
            background-color: var(--bg-hover);
            padding: 15px;
            border-radius: 15px;

            & .request_block {
                display: flex;
                gap: 6px;
                align-items: center;

                & h3.skeleton { min-width: 240px; }
                & p.skeleton { min-width: 180px; }

                &.id_block {
                    flex-direction: column;
                    align-items: start;
                }

                &.ssh_block {
                    background-color: var(--tooltip);
                    padding: 3px 6px;
                    border-radius: 8px;

                    & .ip_paragraph {
                        padding-inline: 4px;
                        border-radius: 4px;
                        background-color: var(--tooltip-hover);
                    }

                    & span {
                        padding-bottom: 3px;
                        margin-top: auto;
                        margin-bottom: auto;
                        width: 2px;
                        height: 24px;
                        background: #ffffff40 content-box;
                    }

                    & p.underlined { margin-bottom: -5px; }
                }

                &.state_block {
                    & .state {
                        padding: 3px 6px;
                        border-radius: 8px;

                        &.state_1 { background-color: var(--tooltip-hover); }
                        &.state_2 { background-color: var(--secondary); }
                        &.state_3 { background-color: var(--debug); }
                        &.state_4 { background-color: var(--destructive); }
                        &.state_5 { background-color: var(--bg-active) }
                    }
                }
            }
        }
    }

    & .placeholder {
        display: flex;
        flex-direction: column;
        gap: 12px;
        align-items: center;
        width: 900px;
    }
}

@media screen and (max-width: 900px) {
    .placeholder {
        width: calc(100vw - 24px) !important;
    }
}

@media screen and (max-width: 800px) {
    #users,
    #servers,
    #hostings {
        grid-template-columns: repeat(2, 1fr) !important;
    }
}

@media screen and (max-width: 500px) {
    #users,
    #servers,
    #hostings {
        grid-template-columns: repeat(1, 1fr) !important;
    }

    #admin {
        & #requests_header,
        & #users_header,
        & #servers_header,
        & #hostings_header {
            flex-direction: column;
            align-items: stretch !important;
            gap: 6px;
            top: 86px !important;
        }

        & #requests {
            & .request {
                & .request_block {
                    flex-direction: column;
                    align-items: start !important;

                    &.ssh_block {
                        width: calc(100% - 12px);
                        flex-direction: column !important;
                        align-items: start !important;

                        & span { display: none; }
                        & p.underlined { margin-bottom: 0; }
                    }
                }
            }
        }
    }
}
