#hostings {
    & .hostings_container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 12px;
        margin-top: 12px;
        margin-bottom: 12px;

        & .hosting {
            display: flex;
            flex-direction: column;
            gap: 6px;
            border-radius: 15px;
            padding: 8px;
            background: var(--bg-hover);

            & h3 {
                margin-top: 6px;
                padding-inline: 8px;
            }

            & .hosting_block {
                &.price_block {
                    margin-top: -6px;
                    margin-bottom: 6px;

                    & p {
                        margin-left: 0;
                        height: fit-content;
                        font-size: 20px;
                        font-family: "Iosevka Custom", "Courier New", sans-serif;
                        padding-inline: 8px;
                    }
                }

                &.request_block {
                    min-height: 48px;
		    margin-top: auto;

                    & button {
                        width: 100%;
                        height: 100%;
                    }
                }

                & p {
                    margin-left: 56px;
                    min-height: 24px;
                }

                & img {
                    width: 32px;
                    height: 32px;
                    margin: 8px;
                    float: left;
                }
            }
        }
    }
}

@media screen and (max-width: 900px) {
    .hostings_container {
        grid-template-columns: repeat(2, 1fr) !important;
    }
}

@media screen and (max-width: 600px) {
    .hostings_container {
        grid-template-columns: 1fr !important;
    }
}
