/* Всплывающие подсказки */

.tooltip {
    opacity: 0;
    pointer-events: none;
    min-width: 60px;
    max-width: 300px;
    width: max-content;
    background: var(--tooltip);
    border: 2px solid #ffffff40;
    color: var(--fg);
    text-align: center;
    border-radius: 11px;
    padding: 6px 12px;
    position: absolute;
    position-area: bottom;
    position-try-fallbacks: flip-block, flip-inline;
    margin-top: 12px;
    z-index: 2;
    font-size: var(--tooltip-size);
    transition: opacity .3s cubic-bezier(.19,1,.22,1);
}

/* Блоки со всплывающими подсказками */
.tooltipped {
    cursor: pointer;

    /* Отырытие при наведении */
    /*&:hover:not(:disabled) .tooltip,*/
    /*&:focus-visible:not(:disabled) .tooltip,*/
    /*&:focus-within:not(:disabled) .tooltip {*/
    &:hover:not(:disabled) .tooltip {
        opacity: 1;
    }
}

@media screen and (max-width: 800px) {
    .tooltip {
        margin-top: 0;
        margin-bottom: 6px;
        position-area: top;
    }
}
