/* Страница авторизации */

#auth {
    margin-top: 100px;

    & .container {
        display: flex;
        align-items: center;
        justify-content: start;
        flex-direction: column;

        /* Блок переключателей форм */
        & .auth_switcher {
            display: flex;
            gap: 12px;
            padding-bottom: 24px;

            /* Переключатели */
            & button {
                &.opened {
                    background: var(--fg) !important;
                    color: var(--bg);

                    &:hover { background: var(--fg-hover) !important; }
                    &:active { background: var(--fg-active) !important; }
                }
            }
        }

        & .forms {
            width: 320px;
        }
    }
}
