/* Общие параметры */

* {
    scroll-behavior: smooth;
    transition: background-color .3s cubic-bezier(.19,1,.22,1),
        color .3s cubic-bezier(.19,1,.22,1),
        border-color .3s cubic-bezier(.19,1,.22,1);
    word-break: break-word;
}

/* Высота контента: если не заполняет полностью: помещает его по центру и убирает подвал вниз */
body {
    margin: 0;
    background: var(--bg);
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

/* Заголовки */
h1, h2, h3 {
    font-family: "Iosevka Custom", "Courier New", monospace;
    font-weight: normal;
    margin: 0;
    padding: 0;
    color: var(--fg);
}

/* Текст, кнопки и поля */
a, p, span, button, input, label, textarea, li {
    font-family: "IBM Plex Sans", Arial, sans-serif;
    font-weight: normal;
    font-size: var(--body-size);
    margin: 0;
    padding: 0;
    color: var(--fg);
    text-decoration: none;
}

/* Ссылки */
a {
    &:hover { color: var(--fg-hover); }
    &:active { color: var(--fg-active); }
}

/* Анимация подчеркивания */
.underlined {
    position: relative;
    padding-bottom: 5px;

    &::after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: 0;
        width: 0;
        height: 2px;
        background-color: var(--fg);
        transition: width .3s cubic-bezier(.19,1,.22,1),
            left .3s cubic-bezier(.19,1,.22,1);
        transform: translateX(-50%);
    }

    &:hover::after {
        background-color: var(--fg-hover);
        width: 100%;
        left: 50%;
    }

    &:active::after { background-color: var(--fg-active); }
}

/* Анимация обводки */
.bordered {
    border: 2px solid transparent;
    background:
        linear-gradient(var(--bg), var(--bg)) padding-box,
        conic-gradient(
            from 0deg,
            var(--fg) 0deg,
            var(--fg) var(--fill),
            transparent var(--fill)
        ) border-box !important;

    transition: --fill 1.0s cubic-bezier(.19,1,.22,1),
        color .3s cubic-bezier(.19,1,.22,1),
        background-color .3s cubic-bezier(.19,1,.22,1);

    &:hover {
        --fill: 100%;
    }
}

.standby {
    background: linear-gradient(
        90deg,
        #242424 0%,
        #363636 50%,
        #242424 100%);
    background-size: 200% 100%;
    animation: standby 2s linear infinite;
}

/* Кнопки */
button {
    padding: 12px 24px;
    background: var(--secondary);
    color: var(--fg);
    border: none;
    border-radius: 11px;
    cursor: pointer;

    &:hover { background-color: var(--secondary-hover); }
    &:active { background-color: var(--secondary-active); }
    &:disabled { opacity: 0.6; }
}

/* Размер текста для заголовков */
h1 { font-size: var(--title-size); }
h2 { font-size: var(--heading-size); }
h3 { font-size: var(--subheading-size); }

/* Изображения */
img {
    display: block;
    object-position: center;
    object-fit: contain;
}

/* Всплывающие подсказки */
.tooltip {
    /*visibility: hidden;*/
    opacity: 0;
    pointer-events: none;
    min-width: 60px;
    max-width: 300px;
    width: max-content;
    background: var(--tooltip);
    border: 1px solid var(--fg);
    color: var(--fg);
    text-align: center;
    border-radius: 11px;
    padding: 6px 12px;
    position: absolute;
    z-index: 2;
    top: calc(100% + 12px);
    left: 50%;
    transform: translateX(-50%);
    font-size: var(--tooltip-size);
    transition: opacity .3s cubic-bezier(.19,1,.22,1);
}

/* Блоки со всплывающими подсказками */
.tooltipped {
    position: relative;
    cursor: pointer;

    /* Отырытие при наведении */
    &:hover:not(:disabled) .tooltip,
    &:focus-visible:not(:disabled) .tooltip,
    &:focus-within:not(:disabled) .tooltip {
        visibility: visible;
        opacity: 1;
    }
}

/* Контейнер для контента */
.container {
    width: 900px;
    margin: 0 auto;
}

/* Шапка */
header {
    width: 100vw;
    height: 80px;
    padding-top: 12px;
    padding-bottom: 12px;

    /* Шапка всегда вверху страницы */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;

    /* Прозрачный фон, при прокручивании заполняется цветом */
    background: transparent;

    &.scrolled { background: var(--bg-hover); }

    /* Размещение контента внутри шапки */
    & .container {
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        gap: 12px;

        /* Стили блоков логотипа и навигации */
        & .logo {
            display: flex;
            align-items: center;
            gap: 12px;
            width: min-content;
            justify-self: start;
            word-break: normal;

            & h1 {
                font-size: var(--heading-size);
                word-break: normal;
            }

            & img {
                width: 80px;
                height: 80px;
            }
        }

        & nav {
            display: flex;
            gap: 12px;
            height: 80px;

            & a, span { align-content: center; }
            & span {
                padding-bottom: 3px;
                margin-top: auto;
                margin-bottom: auto;
                width: 2px;
                height: 24px;
                background: var(--fg-active) content-box;
            }
        }

        /* Размещение навигации по страницам сайта строго по центру */
        & .website_nav {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }

        /* Кнопка бургер-меню */
        & .burger {
            display: none;
            background: transparent;

            & img {
                width: 32px;
                height: 32px;
                margin-inline: -12px;
            }

            &:hover { background: #ffffff40 }
            &:active { background: #ffffff20 }
        }
    }
}

.auth_buttons {
    display: flex;
    align-items: center;

    & button {
        border-radius: 0;
        height: 56px;

        & img {
            width: 32px;
            height: 32px;
            margin-inline: -12px;
        }

        &:first-child {
            border-top-left-radius: 11px;
            border-bottom-left-radius: 11px;
        }

        &:last-child {
            border-top-right-radius: 11px;
            border-bottom-right-radius: 11px;
        }

        &:not(:first-child) { border-left: 2px solid #ffffff40; }
    }
}

/* Пустой блок для отступа шапки */
.header_placeholder {
    width: 100vw;
    height: 104px;
}

.burger_menu {
    display: none;
    background: var(--bg-hover);
    position: fixed;
    z-index: 3;
    top: 0;
    left: -100vw;
    width: 100vw;
    height: calc(100vh - 104px - 56px);
    padding-top: 104px;
    padding-bottom: 56px;
    justify-content: end;
    align-items: stretch;
    flex-direction: column;
    transition: left .3s cubic-bezier(.19,1,.22,1);

    &.open { left: 0; }

    & .website_nav {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: calc(100vw - 24px);
        gap: 6px;

        & a {
            text-align: center;
            padding-top: 6px;
            padding-bottom: 6px;
        }
    }

    & .account_nav {
        display: flex;
        align-items: stretch;
        justify-content: end;
        border-top: 2px solid #ffffff40;
        border-bottom: 2px solid #ffffff40;

        & > button { width: 100%; }

        & button {
            background: transparent;
            border-radius: 0 !important;

            &:hover { background: #ffffff40; }
            &:active { background: #ffffff20; }
        }

        & .auth_buttons {
            width: 100%;
            justify-content: end;

            & button:first-child { width: 100% !important; }
        }
    }
}

/* Секции контента */
section {
    display: grid;
    width: 100vw;
}

/* Подвал */
footer {
    width: 100vw;
    padding: 12px 0;

    & .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 12px;

        & .column:first-child {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 12px;
        }

        & .column:last-child {
            display: flex;
            gap: 12px;

            & div {
                display: flex;
                flex-direction: column;
                gap: 2px;
                align-items: start;
            }
        }

        & .logo {
            width: 64px;
            height: 64px;

            & img {
                width: inherit;
                height: inherit;
            }
        }
    }
}

/* Формы */
form {
    display: flex;
    flex-direction: column;
    width: inherit;
    align-items: stretch;
    gap: 12px;

    /* Блок с полем ввода и подписью */
    & .input {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 6px;

        /* Поле ввода */
        & input {
            padding: 6px 12px;
            border: 1px solid var(--fg);
            border-radius: 11px;
            background: var(--tooltip);

            &:hover { background: var(--bg-hover); }
            &:focus { background: var(--bg); }

            /* Окрашивание границы в красный при неправильном вводе */
            &:user-invalid { border-color: var(--destructive); }

            /* Стилизация чекбокса */
            &[type='checkbox'] {
                position: relative;
                padding: 15px;
                width: 30px;
                height: 30px;

                /* Скрытие стандартного поля */
                appearance: none;

                /* Новая галочка */
                &::after {
                    font-family: "Iosevka Custom", "Segoe UI Symbol", sans-serif;
                    display: block;
                    content: "\2714";
                    position: absolute;
                    top: -2px;
                    left: 2px;
                    width: 30px;
                    height: 30px;
                    font-size: 26px;

                    /* Прозрачный цвет если не выбрана */
                    color: transparent;
                }

                /* Стиль при выборе чекбокса / радио */
                &:checked {
                    background: var(--fg-active);

                    &::after { color: var(--bg); }
                }
            }
        }

        /* Выравнивание элементов в строку */
        &.rowwed {
            flex-direction: row;
        }

        /* Вывод ошибки ввода */
        & span {
            display: block;
            font-size: var(--tooltip);
            color: var(--destructive);
        }
    }
}

/* Адаптивность */

@media screen and (max-width: 900px) {
    /* Ширина контейнера на всю ширину экрана с отступами по краям */
    .container {
        width: calc(100vw - 24px) !important;
        padding-inline: 12px;
    }
}

@media screen and (max-width: 800px) {
    /* Скрытие навигации и показ кнопки бургер-меню */
    header {
        height: 56px !important;

        & nav { display: none !important; }
        & .burger { display: block !important; }

        .logo {
            & img {
                height: 56px !important;
                width: 56px !important;
            }
        }
    }

    .burger_menu { display: flex !important; }

    footer {
        & .container {
            flex-direction: column;
            align-items: start;

            & .column:last-child {
                flex-direction: column;
                gap: 2px;
            }
        }
    }

    .header_placeholder {
        height: 80px !important;
    }
}

@media screen and (max-width: 400px) {
    /* Построение элементов в колонку с выравниванием по левому краю */
    footer .container {
        flex-direction: column;
        align-items: start;
    }
}

@media screen and (max-height: 780px) {
    :root {
        --title-size: 48px;
        --heading-size: 40px;
        --subheading-size: 24px;
        --body-size: 16px;
        --tooltip-size: 12px;
    }
}
