/* Страница 1: слайдер с серверами */

/* Волны на фоне */
.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -3;
    background-image: url("/media/img/background.webp");
    background-size: cover;
    opacity: 0.3;

    &::after {
        content: "";
        position: absolute;
        z-index: -2;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-image: linear-gradient(180deg, var(--bg-mask), var(--bg));
        mix-blend-mode: screen;
        transition: --bg-mask .7s ease;
    }

    & .wave {
        position: fixed;
        width: 200%;
        height: 50vh;
        animation: wave 10s -3s cubic-bezier(.45,.05,.55,.95) infinite;
        transform: translate3d(0, 0, 0);
        bottom: 0;
        left: 0;
        z-index: -1;

        &:nth-of-type(2) {
            bottom: -1.25em;
            animation: wave 18s cubic-bezier(.45,.05,.55,.95) reverse infinite;
        }

        &:nth-of-type(3) {
            bottom: -2.5em;
            animation: wave 20s cubic-bezier(.45,.05,.55,.95) reverse infinite;
        }
    }
}

/* Контейнер для экранов */
.pages_container {
    scroll-snap-type: y mandatory;
    scrollbar-color: var(--fg) var(--bg);
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;

    /* Стили для прокручиваемых секций */
    & section {
        scroll-snap-align: end;
        scroll-snap-stop: always;
        height: calc(100vh - 108px);
        padding-top: 108px;

        & .container {
            overflow: hidden;

            & .column {
                width: calc(50% - 6px);
                height: fit-content;

                & img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}

/* Первый экран */
#page_1 {
    & .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 12px;

        & .scroll_call {
            &::after {
                content: "";
                display: block;
                position: relative;
                bottom: -12px;
                left: 50%;
                transform: translateX(-50%);
                height: 32px;
                width: 32px;
                background-image: url("/media/icons/chevron_down.svg");
                background-size: 32px;
                background-repeat: no-repeat;
                background-position: center bottom;
                opacity: 0.5;
                /*animation: arrow_bounce 2s  infinite;*/
                animation-name: arrow_bounce;
                animation-duration: 2s;
                animation-iteration-count: infinite;
                animation-timing-function: ease-in-out;
            }
        }

        & .column {
            display: flex;
            flex-direction: column;
            gap: 12px;
        }

        & h2 { font-size: var(--title-size); }
    }
}

#page_2 {
    & .container {
        padding-bottom: 30%;

        & > h3, > p { margin-bottom: 12px; }
        & > p { display: none; }
    }

    & .advantage_container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 12px;

        & .advantage {
            background: var(--bg-hover);
            border-radius: 15px;
            padding: 15px;
            cursor: default;

            & img {
                width: 32px;
                height: 32px;
                float: left;
            }

            & h3 {
                margin-left: 44px;
                height: 32px;
            }


            & p { margin-top: 6px; }
        }
    }
}

/* Третий экран */
#page_3 {
    & .container > p { margin-bottom: 12px; }

    & .slider_container {
        display: flex;
        overflow-y: hidden;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        scrollbar-color: var(--fg) transparent;
        scrollbar-width: thin;
        padding-bottom: 5px;
        background: linear-gradient(var(--bg-hover), var(--bg-hover)) content-box, linear-gradient(#222222, #222222) padding-box;
        width: 804px;
        min-height: 349px;
        margin-inline: 48px;
        position: relative;
        z-index: 2;

        & .slide {
            display: flex;
            flex-direction: column;
            gap: 6px;
            min-width: 754px;
            height: 100%;
            scroll-snap-align: center;
            scroll-snap-stop: always;
            margin-inline: 25px;

            & h3 { margin-top: 6px; }

            & .slide_block {
                &.price_block {
                    margin-top: -6px;
                    margin-bottom: 6px;

                    & p {
                        margin-left: 0;
                        height: fit-content;
                        font-size: 20px;
                        font-family: "Iosevka Custom", "Courier New", sans-serif;
                    }
                }

                &.request_block {
                    min-height: 48px;

                    & button {
                        width: 100%;
                        height: 100%;
                    }
                }

                & p {
                    margin-left: 56px;
                    min-height: 24px;
                }

                & img {
                    width: 32px;
                    height: 32px;
                    margin: 8px;
                    float: left;
                }
            }
        }
    }

    & .slider_controls {
        width: inherit;
        height: 354px;
        position: relative;
        bottom: 354px;
        left: 0;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: space-between;

        & button {
            width: 48px;
            height: 100%;
            padding: 0;
            background: var(--bg-hover);
            border-radius: 0;

            &:hover { background: #222222; }
            &:active { background: var(--bg); }

            &:first-child {
                border-top-left-radius: 15px;
                border-bottom-left-radius: 15px;
            }

            &:last-child {
                border-top-right-radius: 15px;
                border-bottom-right-radius: 15px;
            }

            & img {
                width: 32px;
                height: inherit;
                margin-inline: 8px;
            }
        }
    }
}

#page_4 {
    & .container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        & .column {
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 6px;

            & .logo {
                min-width: 64px;
                min-height: 64px;
                display: flex;
                align-items: center;
                margin-bottom: 12px;
                gap: 12px;

                & img {
                    width: 64px;
                    height: 64px;
                }
            }

            & button {
                margin-top: 6px;
            }
        }
    }
}

#page_2, #page_3, #page_4 {
    & .container { margin: auto; }
}

/* Адаптивность */

@media screen and (max-width: 900px) {
    .pages_container {
        & section {
            height: calc(100vh - 108px - 56px);
            padding-bottom: 56px;
        }
    }

    #page_1 {
        /* Переворот элементов */
        & .container {
            padding-inline: 12px;
            flex-direction: column;
            justify-content: center;

            /* Ширина по ширине контента */
            & > div {
                width: fit-content !important;
                max-width: calc(100vw - 24px) !important;
                max-height: calc(50% - 6px);
            }
        }
    }

    #page_2 {
        & .container { padding-bottom: 0; }

        & .advantage_container {
            grid-template-columns: repeat(1, 1fr);

            & img {
                width: 27px !important;
                height: 27px !important;
            }

            & h3 {
                min-height: 27px;
                height: fit-content !important;
            }
        }
    }

    #page_3 {
        & .slider_container {
            width: calc(100vw - 24px);
            margin-inline: 0;
            border-radius: 15px;

            & .slide {
                min-width: calc(100% - 10px);
                padding-inline: 5px;
                padding-top: 3px;

                & .slide_block {
                    & p {
                        margin-left: 52px;
                        min-height: 21px;
                    }

                    & img {
                        width: 28px;
                        height: 28px;
                    }
                }
            }
        }

        & .slider_controls { display: none; }
    }

    #page_4 {
        & .container {
            flex-direction: column;
            gap: 48px;

            & .column {
                width: calc(100vw - 24px);
            }
        }
    }
}

@media screen and (max-height: 780px) {
    #page_2 {
        & .container > p { display: block; }

        & .advantage {
            cursor: pointer !important;

            & p { display: none; }

            &:focus {
                & p { display: block; }
            }
        }
    }
}
