/* Тупиковая страница 404 */

#not_found {

    & .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 12px;

        /* Блок с картинкой и подсказкой */
        & .tooltipped {
            width: 50%;
            max-height: 450px;

            & img {
                width: 100%;
                max-height: inherit;
            }
        }

        /* Блоки с картинкой и текстом */
        & div {
            display: flex;
            flex-direction: column;
            gap: 12px;

            /* Увеличение размера текста */
            & h2 { font-size: var(--title-size); }
        }
    }
}

/* Адаптивность */

@media screen and (max-width: 900px) {
    #not_found {
        /* Переворот элементов */
        & .container {
            flex-direction: column-reverse;
            justify-content: center;

            /* Увеличение отступа между элементами */
            gap: 48px;

            /* Ширина по ширине контента */
            & div { width: fit-content !important; }
        }
    }
}
