/* Переменные */

/* Размеры текста */

@property --title-size {
    syntax: "<length>";
    initial-value: 64px;
    inherits: true;
}
@property --heading-size {
    syntax: "<length>";
    initial-value: 48px;
    inherits: true;
}
@property --subheading-size {
    syntax: "<length>";
    initial-value: 28px;
    inherits: true;
}
@property --body-size {
    syntax: "<length>";
    initial-value: 18px;
    inherits: true;
}
@property --tooltip-size {
    syntax: "<length>";
    initial-value: 14px;
    inherits: true;
}

/* Основные цвета */

/* Передний план */
@property --fg {
    syntax: "<color>";
    initial-value: #d0d0d0;
    inherits: false;
}
@property --fg-hover {
    syntax: "<color>";
    initial-value: #f0f0f0;
    inherits: false;
}
@property --fg-active {
    syntax: "<color>";
    initial-value: #b0b0b0;
    inherits: false;
}

/* Фон */
@property --bg {
    syntax: "<color>";
    initial-value: #121212;
    inherits: false;
}
@property --bg-hover {
    syntax: "<color>";
    initial-value: #1a1a1a;
    inherits: false;
}
@property --bg-active {
    syntax: "<color>";
    initial-value: #040404;
    inherits: false;
}

/* Акцент */
@property --secondary {
    syntax: "<color>";
    initial-value: #484896;
    inherits: false;
}
@property --secondary-hover {
    syntax: "<color>";
    initial-value: #5656aa;
    inherits: false;
}
@property --secondary-active {
    syntax: "<color>";
    initial-value: #323276;
    inherits: false;
}

/* Семантические цвета */

/* Ошибка */
@property --destructive {
    syntax: "<color>";
    initial-value: #aa5656;
    inherits: false;
}
@property --destructive-hover {
    syntax: "<color>";
    initial-value: #bb6666;
    inherits: false;
}
@property --destructive-active {
    syntax: "<color>";
    initial-value: #964848;
    inherits: false;
}

/* Отладка */
@property --debug {
    syntax: "<color>";
    initial-value: #bf7b2e;
    inherits: false;
}
@property --debug-hover {
    syntax: "<color>";
    initial-value: #e69437;
    inherits: false;
}
@property --debug-active {
    syntax: "<color>";
    initial-value: #996325;
    inherits: false;
}

/* Прочие цвета */

/* Всплывающая подсказка */
@property --tooltip {
    syntax: "<color>";
    initial-value: #2a2a2a;
    inherits: false;
}

@property --tooltip-hover {
    syntax: "<color>";
    initial-value: #3a3a3a;
    inherits: false;
}

@property --tooltip-active {
    syntax: "<color>";
    initial-value: #1a1a1a;
    inherits: false;
}

/* Параметр для анимации класса .bordered */

@property --fill {
    syntax: "<percentage>";
    initial-value: 0%;
    inherits: false;
}

/* Анимация градиента на фоне главной страницы */

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

/* Анимация волн на фоне главной страницы */

@keyframes wave {
    2% {
        transform: TranslateX(1);
    }
    25% {
        transform: TranslateX(-25%);
    }
    50% {
        transform: TranslateX(-50%);
    }
    75% {
        transform: TranslateX(-25%);
    }
    100% {
        transform: TranslateX(1);
    }
}
