<section id="admin">
    <div class="container">
        <div id="heading">
            <h2>Админ-панель</h2>
        </div>
        <div id="requests_header">
            <div class="pagination">
                <button class="skeleton">1</button>
                <button class="skeleton">2</button>
                <button class="skeleton">3</button>
            </div>
            <div class="select_wrap">
                <select name="filter" id="filter" class="skeleton">
                    <option value="">Все</option>
                </select>
                <div class="select_chevron"></div>
            </div>
        </div>

        <div id="requests">
            <div class="request">
                <div class="request_block id_block">
                    <h3 class="skeleton">placeholder</h3>
                    <p class="skeleton">placeholder</p>
                </div>
                <div class="request_block">
                    <p class="skeleton">placeholder</p>
                    <p class="skeleton">placeholder</p>
                </div>
                <div class="request_block">
                    <p class="skeleton">placeholder</p>
                    <p class="skeleton">placeholder</p>
                </div>
                <div class="request_block">
                    <p class="skeleton">placeholder</p>
                    <p class="skeleton">placeholder</p>
                </div>
            </div>
            <div class="request">
                <div class="request_block id_block">
                    <h3 class="skeleton">placeholder</h3>
                    <p class="skeleton">placeholder</p>
                </div>
                <div class="request_block">
                    <p class="skeleton">placeholder</p>
                    <p class="skeleton">placeholder</p>
                </div>
                <div class="request_block">
                    <p class="skeleton">placeholder</p>
                    <p class="skeleton">placeholder</p>
                </div>
                <div class="request_block">
                    <p class="skeleton">placeholder</p>
                    <p class="skeleton">placeholder</p>
                </div>
                <div class="request_block ssh_block">
                    <p class="skeleton">placeholder</p>
                    <p class="ip_paragraph skeleton">255.255.255.255</p>
                    <span class="skeleton"></span>
                    <p class="skeleton">placeholder</p>
                </div>
            </div>
        </div>
    </div>
</section>
