<section id="admin">
    <div class="container">
        <div id="admin_header">
            <h2>Админ-панель</h2>
            <nav>
                <a href="/admin/requests" class="requests_link underlined monospaced">Запросы</a>
                <a href="/admin/users" class="users_link underlined monospaced">Пользователи</a>
                <a href="/admin/servers" class="servers_link underlined monospaced">Серверы</a>
                <a href="/admin/hostings" class="hostings_link underlined monospaced">Тарифы</a>
            </nav>
        </div>
