        <div id="servers_header">
            <div class="pagination">
                <p class="pagination_count monospaced skeleton">1 / 1</p>
                <div class="pagination_container">
                    <button class="skeleton">1</button>
                    <button class="skeleton">2</button>
                    <button class="skeleton">3</button>
                </div>
            </div>
            <button class="accent" id="new" style="anchor-name: --new">Создать новый</button>
        </div>

        <div id="servers">
            <div class="server">
                <div class="server_block name_block">
                    <p class="skeleton">placeholder</p>
                    <h3 class="skeleton">placeholder</h3>
                </div>
                <div class="server_block">
                    <p class="skeleton">placeholder</p>
                    <p class="skeleton">placeholder</p>
                </div>
                <div class="server_block">
                    <p class="skeleton">placeholder</p>
                    <p class="skeleton">placeholder</p>
                    <p class="skeleton">placeholder</p>
                    <p class="skeleton">placeholder</p>
                </div>
                <div class="server_block action_block">
                    <button class="skeleton">placeholder</button>
                    <button class="skeleton">placeholder</button>
                </div>
            </div>
            <div class="server">
                <div class="server_block name_block">
                    <p class="skeleton">placeholder</p>
                    <h3 class="skeleton">placeholder</h3>
                </div>
                <div class="server_block">
                    <p class="skeleton">placeholder</p>
                    <p class="skeleton">placeholder</p>
                </div>
                <div class="server_block">
                    <p class="skeleton">placeholder</p>
                    <p class="skeleton">placeholder</p>
                    <p class="skeleton">placeholder</p>
                    <p class="skeleton">placeholder</p>
                </div>
                <div class="server_block action_block">
                    <button class="skeleton">placeholder</button>
                    <button class="skeleton">placeholder</button>
                </div>
            </div>
            <div class="server">
                <div class="server_block name_block">
                    <p class="skeleton">placeholder</p>
                    <h3 class="skeleton">placeholder</h3>
                </div>
                <div class="server_block">
                    <p class="skeleton">placeholder</p>
                    <p class="skeleton">placeholder</p>
                </div>
                <div class="server_block">
                    <p class="skeleton">placeholder</p>
                    <p class="skeleton">placeholder</p>
                    <p class="skeleton">placeholder</p>
                    <p class="skeleton">placeholder</p>
                </div>
                <div class="server_block action_block">
                    <button class="skeleton">placeholder</button>
                    <button class="skeleton">placeholder</button>
                </div>
            </div>
        </div>
    </div>
</section>
