        <div id="users_header">
            <div class="pagination">
                <p class="pagination_count monospaced skeleton">1 / 1</p>
                <div class="pagination_container">
                    <button class="skeleton">1</button>
                    <button class="skeleton">2</button>
                    <button class="skeleton">3</button>
                </div>
            </div>
        </div>

        <div id="users">
            <div class="user">
                <div class="user_block name_block">
                    <p class="skeleton">placeholder</p>
                    <h3 class="skeleton">placeholder</h3>
                </div>
                <div class="user_block">
                    <p class="skeleton">placeholder</p>
                </div>
                <div class="user_block">
                    <p class="skeleton">placeholder</p>
                </div>
                <div class="user_block action_block">
                    <button class="skeleton">placeholder</button>
                    <button class="skeleton">placeholder</button>
                    <button class="skeleton">placeholder</button>
                </div>
            </div>
            <div class="user">
                <div class="user_block name_block">
                    <p class="skeleton">placeholder</p>
                    <h3 class="skeleton">placeholder</h3>
                </div>
                <div class="user_block">
                    <p class="skeleton">placeholder</p>
                </div>
                <div class="user_block">
                    <p class="skeleton">placeholder</p>
                </div>
                <div class="user_block action_block">
                    <button class="skeleton">placeholder</button>
                    <button class="skeleton">placeholder</button>
                    <button class="skeleton">placeholder</button>
                </div>
            </div>
            <div class="user">
                <div class="user_block name_block">
                    <p class="skeleton">placeholder</p>
                    <h3 class="skeleton">placeholder</h3>
                </div>
                <div class="user_block">
                    <p class="skeleton">placeholder</p>
                </div>
                <div class="user_block">
                    <p class="skeleton">placeholder</p>
                </div>
                <div class="user_block action_block">
                    <button class="skeleton">placeholder</button>
                    <button class="skeleton">placeholder</button>
                    <button class="skeleton">placeholder</button>
                </div>
            </div>
        </div>
    </div>
</section>
