<section id="banner">
    <div class="container">
        <div class="column">
            <h1>Аренда хостинга</h1>
            <p>Забудьте о медленной загрузке и падениях серверов. Мы предоставляем современный облачный хостинг на NVMe-дисках с защитой от DDoS и поддержкой 24/7. Запустите свой сайт или приложение всего за 60 секунд.</p>
            <a class="button" href="/requests/new">Оставить заявку</a>
        </div>
        <div class="column">
            <img src="<?= $this->media_folder ?>/icons/banner.svg" alt="Аренда хостинга">
        </div>
    </div>
</section>
