<div id="code">
	<div class="container">
	<h2>Восстановление пароля</h2>
	    <form>
            <div class="input tooltipped" style="anchor-name: --code-1">
                <label for="email">Почта</label>
                <input
                    type="email"
                    name="email"
                    id="email"
                    title="Неверный формат почты"
                    required
                >
                <span></span>
                <p class="tooltip" style="position-anchor: --code-1">Почта должна быть в формате example@example.com</p>
            </div>
            <button type="submit" class="accent">Отправить код</button>
        </form>
	</div>
</div>
