<section id="account">
    <div class="container">
        <div id="personal">
            <div class="text">
                <h1></h1>
                <h2></h2>
                <p></p>
            </div>
            <div class="buttons">
                <button class="button urgent" onclick="window.location = '/requests/new'">Новая заявка</button>
            </div>
        </div>

        <div id="requests-header">
            <div class="pagination"></div>
            <select name="filter" id="filter"></select>
        </div>

        <div id="requests"></div>
    </div>
</section>
