<footer>
    <div class="container">
        <div class="column">
            <a href="/" class="logo">
                <img src="<?= $this->media_folder ?>/icons/logo.svg" alt="<?= $this->website_name; ?>">
            </a>
            <h3>© 2026 <?= $this->website_name ?></h3>
        </div>
        <div class="column">
            <div>
                <p>ООО «<?= $this->website_name ?>»</p>
                <a class="underlined" href="mailto:support@lunahost.ru">support@lunahost.ru</a>
            </div>
            <div>
                <p>ИНН: 7700000000</p>
                <p>ОГРН: 1207700000000</p>
            </div>
        </div>
    </div>
</footer>
