<header>
    <div class="container">
        <a href="/" class="logo">
            <img src="<?= $this->media_folder ?>/icons/logo.svg" alt="<?= $this->website_name ?>">
            <h1><?= $this->website_name ?></h1>
        </a>
        <nav class="website_nav">
            <a class="underlined" href="/about">О нас</a>
            <span></span>
            <a class="underlined" href="/hostings">Наши тарифы</a>
        </nav>
        <nav class="account_nav">
            <a class="underlined" href="/auth">Авторизация</a>
        </nav>
        <button class="burger tooltipped" style="anchor-name: --burger-button">
            <img src="<?= $this->media_folder ?>/icons/burger.svg" alt="Бургер-меню">
            <p class="tooltip" style="position-anchor: --burger-button">Бургер-меню</p>
        </button>
    </div>
</header>

<div class="burger_menu">
	<div class="website_nav">
	    <a class="underlined" href="/about">О нас</a>
		<a class="underlined" href="/hostings">Хостинги</a>
	</div>
	<div class="account_nav">
        <button onclick="window.location.href='/auth'">Авторизация</button>
	</div>
</div>

<div class="header_placeholder"></div>
