<header>
    <div class="container">
        <a href="/" class="logo">
            <img src="<?= $this->media_folder ?>/icons/logo.svg" alt="<?= $this->website_name ?>">
            <h1><?= $this->website_name ?></h1>
        </a>
        <nav class="website_nav">
            <a class="underlined" href="/hostings">Хостинги</a>
            <a class="underlined" href="/servers">Серверы</a>
        </nav>
        <nav class="account_nav">
            <a class="underlined" href="/auth">Авторизация</a>
        </nav>
        <button class="burger"></button>
    </div>
</header>

<div class="header_placeholder"></div>
