<section id="hostings-slider">
    <div class="container">
        <h1>Наши сервера</h1>
        <div class="hostings-slider" id="hostings-container"></div>
        <div class="hostings-slider-controls">
            <button class="prev-button button"><img id="prev-button-icon" src="media/icons/prev.svg" alt="⮜"></button>
            <button class="next-button button"><img id="next-button-icon" src="media/icons/next.svg" alt="⮞"></button>
        </div>
    </div>
</section>

<script src="<?= $this->media_folder ?>/js/hostings-slider.js"></script>
