<section id="not_found">
    <div class="container">
        <!--<img src="<?= $this->media_folder ?>/img/Th08Mokou.webp" alt="Не найдено">-->
        <div class="tooltipped">
            <img>
            <p class="tooltip"></p>
        </div>
        <div>
            <h2>404</h2>
            <h3>Страница не найдена</h3>
            <p>Похоже, такой страницы не существует...</p>
            <button onclick="window.location.href = '/'">Вернуться на главную</button>
        </div>
    </div>
</section>
