<section id="page_3">
    <div class="container">
        <h2>Наши тарифы</h2>
        <p>Облачные VDS для любых целей!</p>
        <div class="slider">
            <button id="prev_button">
                <img src="<?= $this->media_folder ?>/icons/chevron_left.svg" alt="Предыдущий">
            </button>
            <div class="slider_container">
                <div class="slide" id="0">
                    <h3 class="skeleton">placeholder</h3>
                    <div class="slide_block price_block">
                        <p class="skeleton">placeholder</p>
                    </div>
                    <div class="slide_block">
                        <img alt="placeholder" class="skeleton">
                        <p class="skeleton">placeholder</p>
                        <p class="skeleton">placeholder</p>
                    </div>
                    <div class="slide_block">
                        <img alt="placeholder" class="skeleton">
                        <p class="skeleton">placeholder</p>
                        <p class="skeleton">placeholder</p>
                    </div>
                    <div class="slide_block">
                        <img alt="placeholder" class="skeleton">
                        <p class="skeleton">placeholder</p>
                        <p class="skeleton">placeholder</p>
                    </div>
                    <div class="slide_block">
                        <img alt="placeholder" class="skeleton">
                        <p class="skeleton">placeholder</p>
                        <p class="skeleton">placeholder</p>
                    </div>
                    <div class="slide_block request_block">
                        <button class="skeleton"></button>
                    </div>
                </div>
            </div>
            <button id="next_button">
                <img src="<?= $this->media_folder ?>/icons/chevron_right.svg" alt="Следующий">
            </button>
        </div>
    </div>
</section>
