<section id="page_3">
    <div class="container">
        <h2>Наши тарифы</h2>
        <p>Облачные VDS для любых целей!</p>
        <div class="slider_container"></div>
        <div class="slider_controls">
            <button id="prev_button">
                <img src="<?= $this->media_folder ?>/icons/chevron_left.svg" alt="Предыдущий">
            </button>
            <button id="next_button">
                <img src="<?= $this->media_folder ?>/icons/chevron_right.svg" alt="Следующий">
            </button>
        </div>
    </div>
</section>
