<div class="pages_container">
    <section id="page_1">
        <div class="container">
            <div class="column">
                <img src="<?= $this->media_folder ?>/img/Th08Kaguya.webp" alt="Кагуя Хорайсан">
            </div>
            <div class="column">
                <h2><?= $this->website_name ?></h2>
                <h3>Когда земных технологий недостаточно</h3>
                <p>Мы предоставляем услуги по аренде облачных VDS</p>
                <p class="scroll_call">Пролистайте дальше чтобы узнать подробнее</p>
            </div>
        </div>
    </section>
