/* Шапка */

header {
    width: 100vw;
    height: 80px;
    padding-top: 12px;
    padding-bottom: 12px;

    /* Шапка всегда вверху страницы */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;

    /* Прозрачный фон, при прокручивании заполняется цветом */
    background: transparent;

    &.scrolled {
        background: var(--bg-hover);
        box-shadow: 1px 1px 10px 10px var(--bg);
    }

    /* Размещение контента внутри шапки */
    & .container {
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        gap: 12px;

        /* Стили блоков логотипа и навигации */
        & .logo {
            display: flex;
            align-items: center;
            gap: 12px;
            width: min-content;
            justify-self: start;
            word-break: normal;

            & h1 {
                font-size: var(--heading-size);
                word-break: normal;
            }

            & img {
                width: 80px;
                height: 80px;
            }
        }

        & nav {
            display: flex;
            gap: 12px;
            height: 80px;

            & a, span { align-content: center; }
            & span {
                padding-bottom: 3px;
                margin-top: auto;
                margin-bottom: auto;
                width: 2px;
                height: 24px;
                background: #ffffff40 content-box;
            }
        }

        /* Размещение навигации по страницам сайта строго по центру */
        & .website_nav {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }

        /* Кнопка бургер-меню */
        & .burger {
            display: none;
            background: transparent;

            & img {
                width: 32px;
                height: 32px;
                margin-inline: -12px;
            }

            &:hover { background: #ffffff40 }
            &:active { background: #ffffff20 }
        }
    }
}

.auth_buttons {
    display: flex;
    align-items: center;

    & button {
        border-radius: 0;
        height: 56px;

        &:first-child {
            border-top-left-radius: 7px;
            border-bottom-left-radius: 7px;
        }

        &:last-child {
            border-top-right-radius: 7px;
            border-bottom-right-radius: 7px;
        }

        &:not(:first-child) { border-left: 2px solid #ffffff40; }
    }
}

/* Пустой блок для отступа шапки */
.header_placeholder {
    width: 100vw;
    height: 104px;
}

.burger_menu {
    display: none;
    background: var(--bg-hover);
    position: fixed;
    z-index: 3;
    top: 0;
    left: -100vw;
    width: 100vw;
    /*height: calc(100vh - 104px - 56px);*/
    height: calc(100vh - 104px);
    padding-top: 104px;
    /*padding-bottom: 56px;*/
    justify-content: end;
    align-items: stretch;
    flex-direction: column;
    transition: left .3s cubic-bezier(.19,1,.22,1);

    &.open { left: 0; }

    & .website_nav {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: calc(100vw - 24px);
        gap: 6px;

        & a {
            text-align: center;
            padding-top: 6px;
            padding-bottom: 6px;
        }
    }

    & .account_nav {
        display: flex;
        align-items: stretch;
        justify-content: end;
        border-top: 2px solid #ffffff40;
        /*border-bottom: 2px solid #ffffff40;*/

        & > button { width: 100%; }

        & button {
            background: transparent;
            border-radius: 0 !important;

            &:hover { background: #ffffff40; }
            &:active { background: #ffffff20; }
        }

        & .auth_buttons {
            width: 100%;
            justify-content: end;

            & button:first-child { width: 100% !important; }
        }
    }
}

@media screen and (max-width: 800px) {
    /* Скрытие навигации и показ кнопки бургер-меню */
    header {
        height: 56px !important;

        & nav { display: none !important; }
        & .burger { display: block !important; }

        .logo {
            & img {
                height: 56px !important;
                width: 56px !important;
            }
        }
    }

    .burger_menu { display: flex !important; }

    .header_placeholder {
        height: 80px !important;
    }
}
