.skeleton {
    border: 0 !important;
    border-radius: 4px !important;
    background-image: linear-gradient(
        90deg,
        #242424 0%,
        #363636 50%,
        #242424 100%) !important;
    background-color: transparent !important;
    color: transparent !important;
    background-size: 200% 100% !important;
    cursor: auto !important;
    animation: standby 2s linear infinite;
}

button.skeleton { border-radius: 11px !important; }
